body {
    background-color: #ffffff3d; /* rosinha <3 */
    min-width: 500px;
    margin: 0;
}

.container {
     display: flex;
     justify-content: space-between;
}

.esquerda {
    background-color: #ede7a7;
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

.direita{
    background-color: #ede7a7;
    width: 35%;
    text-align: center;
    margin: 0px auto auto auto;
    border-radius: 10px;
}

table{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    margin: 0px auto 20px auto;   

}

#formulario{
    margin: 20px 80px 20px 80px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color: #d5d98a;

}

input#id_usuario {
    margin: 15px;
}

h1{
    text-align: center;
}