body {
    background-color: #ffffff3d; /* rosinha <3 */
    min-width: 500px;
    margin: 0;
}

.container {
     display: flex;
     justify-content: space-between;
}

.esquerda {
    background-color: deeppink;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.direita{
    background-color: aqua;
    width: 50%;
    text-align: center;
}

table{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    margin: 0px auto 20px auto;   

}